
    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="UTF-8">
        <title>Welcome to VenTN</title>
        <link rel="stylesheet"
              th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}">
        <script
                th:src="@{/webjars/jquery/3.5.1/jquery.min.js}">
        </script>
        <script
                th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}">
        </script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
    </head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-3 ">
            <div class="list-group ">
                <!-- Nav Meni -->
                <a th:href="@{/mySpace}" class="list-group-item list-group-item-action active">Back to VenTN ?</a>
                <a th:href="@{/editAccount/{name}(name=${#authentication.getPrincipal().getName()})}" class="list-group-item list-group-item-action">My informations</a><!-- Modify his account-->
                <a th:href="@{/checkOrders/{name}(name=${#authentication.getPrincipal().getName()})}" class="list-group-item list-group-item-action">My orders</a>
                <a th:href="@{/checkMessages/{name}(name=${#authentication.getPrincipal().getName()})}" class="list-group-item list-group-item-action">My messages</a>
                <a th:href="@{/sendMessage}" class="list-group-item list-group-item-action">Contact</a>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="list-group-item list-group-item-action" > logout </button>
                </form>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>VenTN</h4>
                            <p>Continue your shopping.</p>
                            <a href="/" th:href="@{/}" class="btn btn-primary btn-round">Go back to VenTN</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
