
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Welcome to VenTN</title>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}">
    <script
            th:src="@{/webjars/jquery/3.5.1/jquery.min.js}">
    </script>
    <script
            th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}">
    </script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-3 ">
            <div class="list-group ">
                <!-- Nav Menu -->
                <a th:href="@{/mySpace}" class="list-group-item list-group-item-action">Back to VenTN ?</a>
                <a th:href="@{/process_updateAccount/{name}(name=${#authentication.getPrincipal().getName()})}" class="list-group-item list-group-item-action active">My informations</a><!-- Modify his account-->
                <a th:href="@{/checkOrders/{name}(name=${#authentication.getPrincipal().getName()})}"  class="list-group-item list-group-item-action">My orders</a>
                <a th:href="@{/sendMessage}" class="list-group-item list-group-item-action">Contact</a>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="list-group-item list-group-item-action" > logout </button>
                </form>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Message</h2>
                            <form th:action="@{/process_addMessage}"  method="POST"
                                  th:object="${message}">
                                <div class="form-group">
                                    <label>subject</label>
                                    <input class="form-control" type="text" name="subject" placeholder="subject" >

                                    <label>message</label>
                                    <textarea  name="content" rows="5" class="form-control"></textarea>

                                </div>

                                <input type="submit" value="Send" class="btn btn-success">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
