<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to VenTN</title>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}">
    <script
            th:src="@{/webjars/jquery/3.5.1/jquery.min.js}">
    </script>
    <script
            th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}">
    </script>
</head>
<body>
<div id="header">
    <div class="container">
        <div id="welcomeLine" class="row">
            <div class="span6">Welcome!<strong> User</strong></div>
            <div class="span6">
                <div class="pull-right">
                    <span class="btn btn-mini">$155.00</span>
                    <a href="product_summary.html"><span class="">$</span></a>
                    <a href="product_summary.html"><span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i> [ 3 ] Itemes in your cart </span> </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>